.logo {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1) rotate(10deg);
}
